---
import Circle from "~/components/List/parts/Circle.astro";
import Text from "~/components/List/parts/Text.astro";
import Block from "~/components/List/Block.astro";

export type Props = {
    title: string;
    items: string[];
    width: number;
    priColor: string;
    secColor: string;
};

const {
    title = "Awesome",
    items = ["Designed UI", "Used Flutter dart", "API Integration"],
    width = 48,
    priColor = "rgba(148, 163, 184, 1)",
    secColor = "rgba(100, 116, 139,1)",
} = Astro.props;

const [firstItem, ...otherItems] = items;

let local = 20;
---

<div class="">
    <p
        style={`
          font-size: 1.25rem;
          line-height: 1.75rem;
          color: ${secColor};
          margin:0px !important;`}
    >
        {title}
    </p>
    <div style={`height:${48 + 28 * (items.length - 1)}px;width:${width}px`}>
        <svg viewBox="0 0 12 12" style={`overflow: visible; width: 0.75rem;color:${priColor}`}>
            <path
                id="main-line"
                stroke-linecap="round"
                d="M 20 0 V 20"
                fill="none"
                stroke-width="4"
                stroke="currentColor"></path>
            <Circle x={42} y={30} />
            <Text x={60} y={34} text={firstItem} color={priColor} />
            {
                otherItems.map((item, index) => {
                    local += 30;
                    return <Block y={local} text={item} color={secColor} />;
                })
            }
            <path id="curve-line-1" d="M 20,20 Q 20,30 30,30" stroke="currentColor" stroke-width="4" fill="none"></path>
        </svg>
    </div>
</div>
