---
import ArrowLeftIcon from "~/ui/icons/ArrowLeftIcon.astro" 
import ArrowRightIcon from "~/ui/icons/ArrowRightIcon.astro" 
 
import { CollectionEntry, getCollection, getEntry } from "astro:content";
import Default from "~/layouts/Layout.astro";

export async function getStaticPaths() {
  const postsEntries = await getCollection("posts");
  return postsEntries.map((post,index) => {
    const params = { slug: post.slug };
    switch (index) {
      case 0:
        return {
          params,
          props: { post, next: postsEntries.at(index+1) },
        }
      case postsEntries.length - 1:
        return {
          params,
          props: { post, prev: postsEntries.at(index-1) },
        }
      default:
        return {
          params,
          props: { post, prev: postsEntries.at(index-1), next: postsEntries.at(index+1)},
        }
    }
  })
}

export type Props = {
	post: CollectionEntry<"posts">
	next: CollectionEntry<"posts"> | undefined
	prev: CollectionEntry<"posts"> | undefined
}

const { post, next, prev } = Astro.props;
const { Content } = await post.render();

const getTagNames = async (tags: {id:string}[]) => {
  const getTagName = async (id:string) => (await getEntry('tags',id))?.data?.name as string
  const tagnames = await Promise.all(tags.map((tag) => getTagName(tag.id)))
  return tagnames
}
---

<Default
  title={post.data.title}
  description={post.data.description}
  pageType="article"
  fileName={post?.id}
  collection={post?.collection}
>
  <main class="max-w-3xl w-full flex flex-col mt-16 mb-24">
    <h1 class="text-4xl dark:text-white text-indigo-600 mb-8 font-semibold">{post.data.title}</h1>
    <h2 class="text-lg text-slate-600 font-medium dark:text-slate-200 mb-12">{post.data.description}</h2>
    <!-- <pre> {JSON.stringify(post,null,2)}  {JSON.stringify(headings,null,2)} </pre> -->
    <article class="prose dark:prose-invert max-w-none pb-12 border-b-2 border-b-slate-400">
      <Content />
    </article>
    <div class="grid grid-cols-3 place-content-center gap-x-2 dark:text-white mt-6">
      {prev ?
        (
          <a href={`/posts/post/${prev.slug}`} class="p-2 group">
            <span class="flex gap-x-1 items-center text-xs"><ArrowLeftIcon class="w-4 h-4" /> <span class="leading-3 pt-0.5">Previous</span></span>
            <h3 class="text-sm mt-1 mb-0.5 line-clamp-1"> {prev.data.title}</h3>
            <p class="text-xs line-clamp-2">{prev.data.description}</p>
            {((async ()=>
              (await getTagNames(prev.data.tags)).map(
                (tag) => (
                  <span class="text-xs px-1 py-0.5 bg-slate-500/50 rounded">{tag}</span>
                )
              )
            )())}
          </a>
        ): (
          <div class="p-2 opacity-30 select-none">
            <span class="flex gap-x-1 items-center text-xs"><ArrowLeftIcon class="w-4 h-4" /> <span class="leading-3 pt-0.5">Previous</span></span>
            <h3 class="text-sm mt-1 mb-0.5 line-clamp-1"> ------------- </h3>
            <p class="text-xs line-clamp-2"> -------------------------- </p>
          </div>
        )
      }
      {<div class="h-full place-self-center py-2 w-0.5 bg-slate-500/50">  </div>}
      {next ?
        (
          <a href={`/posts/post/${next.slug}`} class="p-2 group">
            <span class="flex gap-x-1 items-center justify-end text-xs"><span class="leading-3 pt-0.5">Next</span><ArrowRightIcon class="w-4 h-4" /></span>
            <h3 class="text-sm mt-1 mb-0.5 line-clamp-1">{next.data.title}</h3>
            <p class="text-xs line-clamp-2">{next.data.description}</p>
            {((async ()=>
              (await getTagNames(next.data.tags)).map(
                (tag) => (
                  <span class="text-xs px-1 py-0.5 bg-slate-500/50 rounded">{tag}</span>
                )
              )
            )())}
          </a>
        ) : (
          <div class="p-2 opacity-30 select-none">
            <span class="flex gap-x-1 items-center justify-end text-xs"><span class="leading-3 pt-0.5">Next</span><ArrowRightIcon class="w-4 h-4" /></span>
            <h3 class="text-sm mt-1 mb-0.5 line-clamp-1"> ------------- </h3>
            <p class="text-xs line-clamp-2"> -------------------------- </p>
          </div>
        )
      }
    </div>
  </main>
</Default>